/*---------- FONTS -------------*/
@font-face {
	font-family: 'Akrobat-ExtraBold';
	src: url('../fonts/akrobat-extrabold.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/akrobat-extrabold.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/akrobat-extrabold.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/akrobat-extrabold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/akrobat-extrabold.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/akrobat-extrabold.svg#akrobat-extrabold') format('svg'); /* Chrome < 4, Legacy iOS */
}
@font-face {
    font-family: 'Lumios Marker';
    src: url('../fonts/Lumios-Marker.eot');
    src: url('../fonts/Lumios-Marker.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Lumios-Marker.woff2') format('woff2'),
        url('../fonts/Lumios-Marker.woff') format('woff'),
        url('../fonts/Lumios-Marker.ttf') format('truetype'),
        url('../fonts/Lumios-Marker.svg#Lumios-Marker') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Medium.eot');
    src: url('../fonts/Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat-Medium.woff2') format('woff2'),
        url('../fonts/Montserrat-Medium.woff') format('woff'),
        url('../fonts/Montserrat-Medium.ttf') format('truetype'),
        url('../fonts/Montserrat-Medium.svg#Montserrat-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular.eot');
    src: url('../fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat-Regular.woff2') format('woff2'),
        url('../fonts/Montserrat-Regular.woff') format('woff'),
        url('../fonts/Montserrat-Regular.ttf') format('truetype'),
        url('../fonts/Montserrat-Regular.svg#Montserrat-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-SemiBold.eot');
    src: url('../fonts/Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat-SemiBold.woff2') format('woff2'),
        url('../fonts/Montserrat-SemiBold.woff') format('woff'),
        url('../fonts/Montserrat-SemiBold.ttf') format('truetype'),
        url('../fonts/Montserrat-SemiBold.svg#Montserrat-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-ExtraBold.eot');
    src: url('../fonts/Montserrat-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat-ExtraBold.woff2') format('woff2'),
        url('../fonts/Montserrat-ExtraBold.woff') format('woff'),
        url('../fonts/Montserrat-ExtraBold.ttf') format('truetype'),
        url('../fonts/Montserrat-ExtraBold.svg#Montserrat-ExtraBold') format('svg');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Berlingske Serif SemBd';
    src: url('../fonts/BerlingskeSerif-SemBdIta.eot');
    src: url('../fonts/BerlingskeSerif-SemBdIta.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BerlingskeSerif-SemBdIta.woff2') format('woff2'),
        url('../fonts/BerlingskeSerif-SemBdIta.woff') format('woff'),
        url('../fonts/BerlingskeSerif-SemBdIta.ttf') format('truetype'),
        url('../fonts/BerlingskeSerif-SemBdIta.svg#BerlingskeSerif-SemBdIta') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

/*--------Specification--------*/

body {
	margin: 0;
	padding: 0;
    font-family: 'Montserrat', sans-serif;
	font-size: 19px;
    font-weight: 400;
    color: #3e3e3e;
    background: #fafafc;
}
.black-scr {
    position: absolute;
    content: '';
    pointer-events: none;
    display: block;
    width: 100%;
    height: 100vh;
    left: 0;
    -webkit-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    -moz-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
    opacity: 0;
    z-index: 7;
    background: rgba(0,0,0,0.7);
}

body.open .black-scr {
    opacity: 1;
}

body.open {
    overflow-y: hidden;
}
.wrap {
    max-width: 1920px;
    margin: 0 auto;
    overflow: hidden;
}

.container {
	width: 1140px;
	margin: 0 auto;
}

li {
	display: block;
}

h1, h2, h3, h4, h5 {
	margin: 0;
    padding: 0;

}

div, p, ul, li, span, button, input, a, form,textarea {
	-webkit-box-sizing: border-box;
	        -moz-box-sizing: border-box;
	     box-sizing: border-box;
	margin: 0;
	padding: 0;
}

a {
    color: #3e3e3e;
    text-decoration: none;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

a:hover {
    text-decoration: underline;
}

.title {
    font-weight: 800;
    font-size: 70px;
    line-height: 70px;
    background: -webkit-gradient(linear, left top, right top, from(#b95dbc), to(#742a74));
    background: -webkit-linear-gradient(left, #b95dbc 0%, #742a74 100%);
    background: -moz-linear-gradient(left, #b95dbc 0%, #742a74 100%);
    background: -o-linear-gradient(left, #b95dbc 0%, #742a74 100%);
    background: linear-gradient(90deg, #b95dbc 0%, #742a74 100%);
    -webkit-background-clip: text;
            background-clip: text;
  -webkit-text-fill-color: transparent;
    color: #742a74;
}
.title-l {
    font-weight: 600;
    font-size: 52px;
    font-family: 'Berlingske Serif SemBd', sans-serif;
    font-style: italic;
    text-align: center;
}
.title-m {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
}

.title-s {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
}

textarea:active,
textarea:focus {
    outline: none;
}

input[type=text], input[type=submit], textarea{
	-webkit-appearance: none;
} 

input {
  border: 0;
  outline: none;
}

.menu_btn {
    display: none;
}

.btn {
    
    -webkit-border-radius: 58px;
       -moz-border-radius: 58px;
            border-radius: 58px;
    font-weight: 400;
    font-size: 14px;
    color: #fff;
    overflow: hidden;
    z-index: 1;
    display: inline-block;
    position: relative;
    line-height: 20px;
    background: rgba(218,78,185,1);
background: -moz-linear-gradient(top, rgba(218,78,185,1) 0%, rgba(124,45,120,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(218,78,185,1)), color-stop(100%, rgba(124,45,120,1)));
background: -webkit-linear-gradient(top, rgba(218,78,185,1) 0%, rgba(124,45,120,1) 100%);
background: -o-linear-gradient(top, rgba(218,78,185,1) 0%, rgba(124,45,120,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, from(rgba(218,78,185,1)), to(rgba(124,45,120,1)));
background: linear-gradient(to bottom, rgba(218,78,185,1) 0%, rgba(124,45,120,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#da4eb9', endColorstr='#7c2d78', GradientType=0 );
    text-transform: uppercase;
    -webkit-box-shadow: 0 7px 0 #5a255d;
       -moz-box-shadow: 0 7px 0 #5a255d;
            box-shadow: 0 7px 0 #5a255d;
}

.btn:hover {
    text-decoration: none;
    -webkit-transform: translateY(7px);
       -moz-transform: translateY(7px);
        -ms-transform: translateY(7px);
         -o-transform: translateY(7px);
            transform: translateY(7px);
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
}
.btn::before {
    content: '';
    display: block;
    position: absolute;
    width: 73px;
    height: 73px;
    top: 0;
    bottom: 0;
    left: 20px;
    z-index: 2;
    margin: auto 0;
    background: url('../img/btn__icon.png') no-repeat 0 0 / cover;
}
.btn:after {
    content: "";
    margin-left: 60px;
    width: 20px;
    height: 300px;
    background: #fff;
    -webkit-animation-delay: .05s;
    -moz-animation-delay: .05s;
      -o-animation-delay: .05s;
         animation-delay: .05s;
    position: absolute;
    left: -40px;
    top: -110px;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-timing-function: ease-in-out;
      -o-animation-timing-function: ease-in-out;
         animation-timing-function: ease-in-out;
    -webkit-transition: all .1s;
    -o-transition: all .1s;
    -moz-transition: all .1s;
    transition: all .1s;
    -webkit-animation-name: slideme;
    -moz-animation-name: slideme;
      -o-animation-name: slideme;
         animation-name: slideme;
    -webkit-animation-duration: 3s;
    -moz-animation-duration: 3s;
      -o-animation-duration: 3s;
         animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
      -o-animation-iteration-count: infinite;
         animation-iteration-count: infinite;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
         transform: rotate(45deg);
    z-index: 0;
}
.btn__help {
    display: block;
    position: relative;
    padding: 33px 50px 32px 114px;
    -webkit-border-radius: 58px;
       -moz-border-radius: 58px;
            border-radius: 58px;
}
.btn__help::before,
.btn__help::after {
    display: block;
    content: '';
    position: absolute;
}
.btn__help::after {
    right: 0;
    bottom: -3px;
    left: 0;
    z-index: 1;
    margin: 0 auto;
    width: 443px;
    height: 86px;
    background: url('../img/blik.png') no-repeat 0 0 / cover;
}
.btn__help::before {
    right: 0px;
    top: 0px;
    z-index: 1;
    width: 105%;
    height: 105%;
    background: url('../img/shad.png') no-repeat 0 0 / cover;
}
.btn__top {
    display: block;
    position: relative;
    z-index: 2;
    font-weight: 600;
    font-size: 25px;
    margin-bottom: 10px;
}

@-webkit-keyframes slideme { 0% { left: -30px; margin-left: 0px; }
  30% { left: 110%; margin-left: 80px; }
  100% { left: 110%; margin-left: 80px; } }

@-moz-keyframes slideme { 0% { left: -30px; margin-left: 0px; }
  30% { left: 110%; margin-left: 80px; }
  100% { left: 110%; margin-left: 80px; } }

@-o-keyframes slideme { 0% { left: -30px; margin-left: 0px; }
  30% { left: 110%; margin-left: 80px; }
  100% { left: 110%; margin-left: 80px; } }

@keyframes slideme { 0% { left: -30px; margin-left: 0px; }
  30% { left: 110%; margin-left: 80px; }
  100% { left: 110%; margin-left: 80px; } }

/* ----SLICK--- */

/* -----------------------------Header---------------------------- */

.header{
    padding: 19px 0;
}
.header__wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.header__logo {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.header__logo:hover {
    text-decoration: none;
}
.header__logo img {
    display: block;
    margin-right: 13px;
}
.header__logo span {
    display: block;
}
.header__logo > span {
    font-family: 'Lumios Marker';
    font-size: 41px;
}
.logo__dop {
    font-family: 'Montserrat' !important;
    color: #742a74;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 0.06em;
    margin-top: -12px;
}
.header__nav > ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.header__nav > ul > li:not(:last-child) {
    margin-right: 23px;
}
.menu-item > a {
    font-size: 18px;
    font-weight: 500;
    position: relative;
}
.menu-item > a:after {
    content: '';
    display: block;
    position: absolute;
    width: 6px;
    height: 6px;
    background: transparent;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
    right: 0;
    bottom: -12px;
    left: 0;
    margin: 0 auto;
}
.menu-item > a:hover {
    color: #742a74;
    text-decoration: none;
}
.menu-item > a:hover:after {
    background: #702a72;
}

.header__lk {
    padding: 1px;
    -webkit-border-radius: 28.5px;
       -moz-border-radius: 28.5px;
            border-radius: 28.5px;
    font-size: 16px;
    font-weight: 500;
    color: #742a74;
    position: relative;
    text-transform: uppercase;
    background: rgba(211,158,213,0.22);
    background: -moz-linear-gradient(left, rgba(211,158,213,0.22) 0%, rgba(153,61,156,0.22) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(211,158,213,0.22)), color-stop(100%, rgba(153,61,156,0.22)));
    background: -webkit-linear-gradient(left, rgba(211,158,213,10.22) 0%, rgba(153,61,156,0.22) 100%);
    background: -o-linear-gradient(left, rgba(211,158,213,0.22) 0%, rgba(153,61,156,0.22) 100%);
    background: -webkit-gradient(linear, left top, right top, from(rgba(211,158,213,0.22)), to(rgba(153,61,156,0.22)));
    background: -webkit-linear-gradient(left, rgba(211,158,213,0.22) 0%, rgba(153,61,156,0.22) 100%);
    background: linear-gradient(to right, rgba(211,158,213,0.22) 0%, rgba(153,61,156,0.22) 100%);
}
.header__lk:hover {
    text-decoration: none;
}
.lk__help {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10px 20px 10px 14px;
    -webkit-border-radius: 28.5px;
       -moz-border-radius: 28.5px;
            border-radius: 28.5px;
            background: rgba(242,235,245,1);
            background: -moz-linear-gradient(top, rgba(242,235,245,1) 0%, rgba(231,214,235,1) 100%);
            background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(242,235,245,1)), color-stop(100%, rgba(231,214,235,1)));
            background: -webkit-linear-gradient(top, rgba(242,235,245,1) 0%, rgba(231,214,235,1) 100%);
            background: -o-linear-gradient(top, rgba(242,235,245,1) 0%, rgba(231,214,235,1) 100%);
            background: -webkit-gradient(linear, left top, left bottom, from(rgba(242,235,245,1)), to(rgba(231,214,235,1)));
            background: linear-gradient(to bottom, rgba(242,235,245,1) 0%, rgba(231,214,235,1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2ebf5', endColorstr='#e7d6eb', GradientType=0 );
}
.header__lk img {
    display: block;
    margin-right: 10px;
}

/* ---main--- */

.main {
    padding: 196px 0 0;
    margin-top: -106px;
    background: url('../img/main-bg.jpg') no-repeat 0 0 / cover;
    -webkit-border-radius: 0 0 80px 80px;
       -moz-border-radius: 0 0 80px 80px;
            border-radius: 0 0 80px 80px;
    overflow: hidden;
}
.main .container {
    position: relative;
    padding-bottom: 145px;
}
.main .container:after {
    content: '';
    display: block;
    position: absolute;
    width: 536px;
    height: 857px;
    bottom: 0;
    right: 56px;
    background: url('../img/main-w.png') no-repeat 0 0 / cover;
}
.main__wrap {
    width: 56%;
    min-width: 639px;
}
.main .title {
    margin-bottom: 26px;
}
.title__top {
    display: block;
    font-size: 50px;
    font-style: italic;
    font-family: 'Berlingske Serif SemBd';
}

.title__bot {
    display: block;
    font-size: 44px;
    font-weight: 400;
    text-transform: uppercase;
}
.main__offer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 68px;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.main__price {
    -webkit-border-radius: 30px;
       -moz-border-radius: 30px;
            border-radius: 30px;
    background: #fafafc;
    border: 2px solid #fff;
    padding: 11px 22px;
    min-width: 160px;
    margin-right: 30px;
}
.main__price span {
    display: block;
}
.main__price-new {
    font-size: 26px;
    color: #ec607b;
    font-weight: 800;
}
.main__price-new span {
    font-size: 51px;
    line-height: 46px;
}
.main__price-old {
    font-size: 36px;
    font-family: 'Lumios Marker';
    position: relative;
    line-height: 31px;
}
.main__price-old:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 14px;
    width: 112px;
    height: 9px;
    background: url('../img/line.png') no-repeat 0 0 / cover;
}

.main__offer p {
    width: 60%;
    font-size: 22px;
    font-weight: 500;
    line-height: 1.35em;
}

/* ---prog--- */

.prog {
    padding: 50px 0 68px;
}
.center {
    text-align: center;
}
.title__prev {
    display: inline-block;
    text-align: center;
    font-size: 28px;
    color: #fff;
    padding: 15px 25px;
    background: #d39ed5;
    -webkit-border-radius: 31.5px;
       -moz-border-radius: 31.5px;
            border-radius: 31.5px;
    min-width: 250px;
}
.prog .title-l {
    margin-bottom: 46px;
}

.prog__wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 -14px 100px;
}
.prog__card-wrap {
    width: 25%;
    padding: 0 14px;
}
.prog__card {
    padding: 40px 20px 32px;
    height: 100%;
    -webkit-border-radius: 25px;
       -moz-border-radius: 25px;
            border-radius: 25px;
    -webkit-box-shadow: 5px 0 16px rgba(90,37,93,0.1);
       -moz-box-shadow: 5px 0 16px rgba(90,37,93,0.1);
            box-shadow: 5px 0 16px rgba(90,37,93,0.1);
}

.prog__card-img {
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
    width: 132px;
    height: 132px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto 46px;
    -webkit-box-shadow: inset 2px 2px 3px rgba(255,255,255,0.7);
       -moz-box-shadow: inset 2px 2px 3px rgba(255,255,255,0.7);
            box-shadow: inset 2px 2px 3px rgba(255,255,255,0.7);
    position: relative;
    background: rgba(153,61,156,1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(153,61,156,1) 0%, rgba(116,42,116,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(153,61,156,1)), color-stop(100%, rgba(116,42,116,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(153,61,156,1) 0%, rgba(116,42,116,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(153,61,156,1) 0%, rgba(116,42,116,1) 100%);
    background: -webkit-radial-gradient(center, ellipse, rgba(153,61,156,1) 0%, rgba(116,42,116,1) 100%);
    background: -moz-radial-gradient(center, ellipse, rgba(153,61,156,1) 0%, rgba(116,42,116,1) 100%);
    background: -o-radial-gradient(center, ellipse, rgba(153,61,156,1) 0%, rgba(116,42,116,1) 100%);
    background: radial-gradient(ellipse at center, rgba(153,61,156,1) 0%, rgba(116,42,116,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#993d9c', endColorstr='#742a74', GradientType=1 );
}
.prog__card-img:before {
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
    content: '';
    display: block;
    position: absolute;
    width: 159px;
    height: 159px;
    top: -13.5px;
    left: -13.5px;
    opacity: 0.1;
    background: rgba(153,61,156,1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(153,61,156,1) 0%, rgba(116,42,116,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(153,61,156,1)), color-stop(100%, rgba(116,42,116,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(153,61,156,1) 0%, rgba(116,42,116,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(153,61,156,1) 0%, rgba(116,42,116,1) 100%);
    background: -webkit-radial-gradient(center, ellipse, rgba(153,61,156,1) 0%, rgba(116,42,116,1) 100%);
    background: -moz-radial-gradient(center, ellipse, rgba(153,61,156,1) 0%, rgba(116,42,116,1) 100%);
    background: -o-radial-gradient(center, ellipse, rgba(153,61,156,1) 0%, rgba(116,42,116,1) 100%);
    background: radial-gradient(ellipse at center, rgba(153,61,156,1) 0%, rgba(116,42,116,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#993d9c', endColorstr='#742a74', GradientType=1 );
}
.prog__card-img-shad {
    position: relative;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
    overflow: hidden;
    height: 100%;
    width: 100%;
}
.prog__card-img-shad:before,
.prog__card-img-shad:after {
    content: '';
    display: block;
    position: absolute;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
    width: 1px;
    height: 1px;
    -webkit-box-shadow:0px 0px 38px 49px rgba(218,78,185,1);
       -moz-box-shadow:0px 0px 38px 49px rgba(218,78,185,1);
            box-shadow:0px 0px 38px 49px rgba(218,78,185,1);
}
.prog__card-img-shad:before {
    top: -12px;
    right: -6px;
}
.prog__card-img-shad:after {
    bottom: -12px;
    left: -6px;

}
.prog__card-tit {
    color: #742a74;
    text-align: center;
    font-family: 'Berlingske Serif SemBd', sans-serif;
    font-style: italic;
    font-size: 24px;
    margin-bottom: 14px;
}
.prog__card-list li {
    padding-left: 27px;
    position: relative;
    font-size: 14px;
    line-height: 1.35em;
}

.prog__card-list li::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 1px;
    width: 16px;
    height: 16px;
    background: url('../img/tick.png') no-repeat 0 0 / cover;
}
.prog__card-list li:not(:last-child) {
    margin-bottom: 13px;
}
.prog__card-wrap:nth-child(1) .prog__card {
    background: url('../img/what1-bg.png') no-repeat 0 0 / cover;
}
.prog__card-wrap:nth-child(2) .prog__card {
    background: url('../img/what2-bg.png') no-repeat 0 0 / cover;
}
.prog__card-wrap:nth-child(3) .prog__card {
    background: url('../img/what3-bg.png') no-repeat 0 0 / cover;
}
.prog__card-wrap:nth-child(4) .prog__card {
    background: url('../img/what4-bg.png') no-repeat 0 0 / cover;
}

.prog__video {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    position: relative;
    width: 90%;
    padding-bottom: 460px;
}
.prog__video:after {
    content: "";
    position: absolute;
    display: block;
    width: 1110px;
    height: 686px;
    background: url('../img/plansh.png') no-repeat 0 0 / cover;
    top: -34px;
    right: 18px;
    z-index: 0;
}
.prog__video::before {
    content: "";
    position: absolute;
    display: block;
    width: 253px;
    height: 349px;
    background: url('../img/plansh-krem.png') no-repeat 0 0 / cover;
    bottom: -42px;
    right: -40px;
    z-index: 1;
}
.prog__video-tit {
    font-family: 'Lumios Marker';
    font-size: 46px;
    display: block;
    position: relative;
    margin-bottom: 10px;
    -webkit-transform: rotateZ(-12deg);
       -moz-transform: rotateZ(-12deg);
        -ms-transform: rotate(-12deg);
         -o-transform: rotateZ(-12deg);
            transform: rotateZ(-12deg);
}
.prog__video-tit:after {
    display: block;
    content: '';
    position: absolute;
    width: 354px;
    height: 84px;
    background: url('../img/dot-line.png') no-repeat 0 0 / cover;
    top: 14px;
    left: 162px;
    -webkit-transform: rotateZ(11deg);
       -moz-transform: rotateZ(11deg);
        -ms-transform: rotate(11deg);
         -o-transform: rotateZ(11deg);
            transform: rotateZ(11deg);
}
.prog__video-text p {
    padding-left: 12px;
    font-size: 20px;
}
.prog__play {
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
    width: 118px;
    height: 118px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-shadow: 0 4px 0 #823d86;
       -moz-box-shadow: 0 4px 0 #823d86;
            box-shadow: 0 4px 0 #823d86;
    background: rgba(218,78,185,1);
    background: -moz-linear-gradient(top, rgba(218,78,185,1) 0%, rgba(124,45,120,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(218,78,185,1)), color-stop(100%, rgba(124,45,120,1)));
    background: -webkit-linear-gradient(top, rgba(218,78,185,1) 0%, rgba(124,45,120,1) 100%);
    background: -o-linear-gradient(top, rgba(218,78,185,1) 0%, rgba(124,45,120,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(218,78,185,1)), to(rgba(124,45,120,1)));
    background: linear-gradient(to bottom, rgba(218,78,185,1) 0%, rgba(124,45,120,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#da4eb9', endColorstr='#7c2d78', GradientType=0 );
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.prog__play:after {
    content: '';
    display: block;
    position: absolute;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url('../img/play-shad.png') no-repeat 0 0 / cover;
}
.prog__play svg {
    margin-left: 5px;
}
.play__btn {
    width: 130px;
    height: 130px;
    padding: 6px;
    position: relative;
    z-index: 2;
    margin: 59px 0 0 278px;
}
.play__btn:after {
    content: "";
    position: absolute;
    top: 2px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: url('../img/play.png') no-repeat 0 0 / cover;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
         border-radius: 50%;
    -webkit-animation-name: roundpulse;
    -moz-animation-name: roundpulse;
      -o-animation-name: roundpulse;
         animation-name: roundpulse;
    -webkit-animation-duration: 3s;
    -moz-animation-duration: 3s;
      -o-animation-duration: 3s;
         animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
      -o-animation-iteration-count: infinite;
         animation-iteration-count: infinite;
}
@-webkit-keyframes roundpulse {
    0% {
        -webkit-transform: scale(1); transform: scale(1);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    to {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
        opacity: 0;
    }
}
@-moz-keyframes roundpulse {
    0% {
        -webkit-transform: scale(1); -moz-transform: scale(1); transform: scale(1);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    to {
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
             transform: scale(1.2);
        opacity: 0;
    }
}
@-o-keyframes roundpulse {
    0% {
        -webkit-transform: scale(1); -o-transform: scale(1); transform: scale(1);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    to {
        -webkit-transform: scale(1.2);
        -o-transform: scale(1.2);
           transform: scale(1.2);
        opacity: 0;
    }
}
@keyframes roundpulse {
    0% {
        -webkit-transform: scale(1); -moz-transform: scale(1); -o-transform: scale(1); transform: scale(1);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    to {
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
          -o-transform: scale(1.2);
             transform: scale(1.2);
        opacity: 0;
    }
}


/* ---best--- */

.best {
    padding: 50px 0 65px;
    background: #fff;
    position: relative;
}
.best::before {
    content: '';
    display: block;
    position: absolute;
    top: -130px;
    left: 0;
    width: 100%;
    height: 132px;
    background: url('../img/clouds.png') no-repeat 0 0 / cover;
}

.best .title-l {
    margin-bottom: 55px;
}

.best__wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    z-index: 5;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.best__left {
    width: 52%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    margin: -18px -15px;
    counter-reset: item;
}

.best__card-wrap {
    width: 50%;
    padding: 16px 15px;

}
.best__card {
    padding: 27px 15px 34px;
    -webkit-border-radius: 0 25px 25px 25px;
       -moz-border-radius: 0 25px 25px 25px;
            border-radius: 0 25px 25px 25px;
    background: #f8f0f2;
    overflow: hidden;
    position: relative;
}
.best__card-wrap:nth-child(3n-2) .best__card {
    background: #fafafc;
    -webkit-border-radius: 25px 25px 0 25px;
       -moz-border-radius: 25px 25px 0 25px;
            border-radius: 25px 25px 0 25px;
}
.best__card:after {
    content: '#0'counter(item);
     counter-increment: item; 
     position: absolute;
     display: block;
    font-family: 'Akrobat-ExtraBold';
    font-size: 100px;
    right: 36px;
    bottom: -31px;
    color: #ede0ed; 
    font-style: italic;
    z-index: 1;
}
.best__card-wrap:nth-child(3n-2) .best__card:after {
    color: #f2eff2
}
.best__card-top {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 5px;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.best__card-img {
    margin-right: 15px;
}
.best__card-tit {
    font-weight: 600;
    font-size: 18px;
    color: #742a74;
}
.best__card p {
    font-size: 15px;
    line-height: 1.4em;
    position: relative;
    z-index: 2;
}
.best__right {
    width: 43%;
    margin: 6px 0 -13px;
    position: relative;
    margin-right: 30px;
    z-index: 2;
    -webkit-border-radius: 0 50px 0 50px;
       -moz-border-radius: 0 50px 0 50px;
            border-radius: 0 50px 0 50px;
    background: #d39ed5 url('../img/best-bg.jpg') no-repeat 0 0 / cover;
}
.best__right-h {
    position: relative;
    z-index: 2;
    height: 100%;
    -webkit-border-radius: 0 50px 0 50px;
       -moz-border-radius: 0 50px 0 50px;
            border-radius: 0 50px 0 50px;
    background: #d39ed5 url('../img/best-bg.jpg') no-repeat 0 0 / cover;
}
.best__right-h:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0px;
    left: -3px;
    width: 505px;
    height: 636px;
    background: url('../img/best-w.png') no-repeat 0 0 / cover;
}
.best__right-img {
    width: 100%;
    height: 100%;
    position: absolute;
    border: 3px solid #d39ed5;
    top: -30px;
    right: -30px;
    z-index: 1;
    -webkit-border-radius: 0 50px 0 50px;
       -moz-border-radius: 0 50px 0 50px;
            border-radius: 0 50px 0 50px;
}

/* ---look--- */

.look {
    background: #fff url('../img/look-bg.png') no-repeat 0 0 / cover;
    padding: 307px 0 238px;
    margin-top: -160px;
    position: relative;
    z-index: 4;
}
.look::before {
    content: '';
    display: block;
    position: absolute;
    width: 756px;
    height: 240px;
    background: url('../img/tkan-up.png') no-repeat 0 0 / cover;
    top: 175px;
    left: 824px;
    z-index: 5;
}
.look::after {
    content: '';
    display: block;
    position: absolute;
    width: 688px;
    height: 151px;
    background: url('../img/tkan-bot.png') no-repeat 0 0 / cover;
    bottom: 70px;
    left: 835px;
}

.look-tit {
    color: #fff;
    text-align: left;
    margin-bottom: 35px;
}
.look__wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}
.look__left{
    width: 52%;
}
.look__left ul li {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    color: #fff;
    font-size: 22px;
    line-height: 1.35em;
}
.look__img {
    margin-right: 31px;
}
.look__left ul li:not(:last-child) {
    margin-bottom: 50px;
}
.look__left p {
    line-height: 1.4em;
}
.look__left ul {
    width: 79%;
    padding-left: 32px;
}
.look__right {
    width: 48%;
    position: relative;
}
.look__right::before {
    content: '';
    display: block;
    position: absolute;
    width: 540px;
    height: 470px;
    background: url('../img/crown.png') no-repeat 0 0 / cover;
    top: 22px;
    right: 60px;
}

/* ---result--- */

.result {
    background: #fff;
    padding: 16px 0 130px;
}
.result .title-l {
    margin-bottom: 40px;
}
.result__wrap {

    margin: -15px;
}
.result__help {
    margin: -15px;
}
.result__card-wrap {
    padding: 15px;
    position: relative;
}
.result__card {
    padding: 30px;
    position: relative;
    z-index: 2;
    -webkit-border-radius: 30px;
       -moz-border-radius: 30px;
            border-radius: 30px;
    -webkit-box-shadow: 8px 0 22px rgba(97,97,97,0.05);
       -moz-box-shadow: 8px 0 22px rgba(97,97,97,0.05);
            box-shadow: 8px 0 22px rgba(97,97,97,0.05);
}
.result__card-wrap:after {
    content: '';
    display: block;
    position: absolute;
    width: 85%;
    height: 30%;
    z-index: 1;
    right: 0;
    bottom: 4px;
    left: 0;
    margin: 0 auto;
    background: #fff;
    -webkit-border-radius: 30px;
       -moz-border-radius: 30px;
            border-radius: 30px;
    -webkit-box-shadow: 10px 0 25px  rgba(97,97,97,0.05);
       -moz-box-shadow: 10px 0 25px  rgba(97,97,97,0.05);
            box-shadow: 10px 0 25px  rgba(97,97,97,0.05);
}
.result__foto {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 36px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.result__foto > div > img {
    -webkit-border-radius: 20px 20px 20px 0;
       -moz-border-radius: 20px 20px 20px 0;
            border-radius: 20px 20px 20px 0;
    overflow: hidden;
    display: block;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}
.result__foto > div { 
    width: 48%;
    position: relative;
}
.result__bot {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.result__name {
    font-size: 20px;
}
.result__name span {
    display: block;
    margin-bottom: 3px;
    color: #d39ed5;
    font-size: 16px;
}
.result__bot-foto {
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
    margin-right: 21px;
    overflow: hidden;
}
.result__foto > div:after {
    display: block;
    position: absolute;
    left: 0;
    bottom: -18px;
    -webkit-border-radius: 14.5px;
       -moz-border-radius: 14.5px;
            border-radius: 14.5px;
    background: #d39ed5;
    padding: 5px 15px;
    color: #fff;
    font-size: 16px;
}
.result__foto-l:after {
    content: 'До обучения';
}
.result__foto-r:after {
    content: 'После обучения';
}

.result__wrap .slick-slide:nth-child(2n-1) .result__card {
    background: #fff url('../img/rev1-bg.png') no-repeat 91% 107%;
}
.result__wrap .slick-slide:nth-child(2n) .result__card {
    background: #fff url('../img/rev2-bg.png') no-repeat 109% 139%;
}
.slick-arrow {
    width: 88px !important;
    height: 88px !important;
    background: #fff !important;
    z-index: 8;
    -webkit-border-radius: 50% !important;
       -moz-border-radius: 50% !important;
            border-radius: 50% !important;
    opacity: 1 !important;
    border: 1px solid #f9ecf9 !important;
    -webkit-box-shadow: 5px 0 10px rgb(90 37 93 / 0.05);
       -moz-box-shadow: 5px 0 10px rgb(90 37 93 / 0.05);
            box-shadow: 5px 0 10px rgb(90 37 93 / 0.05);
}
.slick-prev, .slick-next {
    top: 52% !important;
}
.slick-arrow::before {
    content: "" !important;
    display: block;
    position: absolute;
    top: 9px;
    left: 9px;
    background: url('../img/slick-bg.png') no-repeat 0 0 / cover;
    width: 70px;
    height: 70px;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
    opacity: 1 !important;
    -webkit-box-shadow: 3px 0 4px rgb(90 37 93 / 0.15);
       -moz-box-shadow: 3px 0 4px rgb(90 37 93 / 0.15);
            box-shadow: 3px 0 4px rgb(90 37 93 / 0.15);
}
.slick-arrow::after {
    content: "" !important;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 17px;
    height: 28px;
    -webkit-transform: rotateZ(180deg);
       -moz-transform: rotateZ(180deg);
        -ms-transform: rotate(180deg);
         -o-transform: rotateZ(180deg);
            transform: rotateZ(180deg);
    background: url('../img/svg/next.svg') no-repeat 0 0 / cover;
}
.slick-next::after {
    left: 7px !important;
    -webkit-transform: rotateZ(0deg) !important;
       -moz-transform: rotateZ(0deg) !important;
        -ms-transform: rotate(0deg) !important;
         -o-transform: rotateZ(0deg) !important;
            transform: rotateZ(0deg) !important;
}
.slick-next {
    right: -88px !important;
}
.slick-prev {
    left: -88px !important;
}
.slick-dots li button {
    padding: 0 !important;
}
.slick-dots li button::before {
    content: '' !important;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
    background: #e8d9e9;
    opacity: 1 !important;
}
.slick-dots li {
    margin: 0 12px !important;
}
.slick-dots li.slick-active button:before {
    opacity: 1 !important;
    background: #993d9c;
}
.slick-dots {
    bottom: -82px !important;
}

/* ---price--- */

.price {
    position: relative;
    padding: 75px 0 145px;
}
.price::before {
    position: absolute;
    content: '';
    top: -130px;
    left: 0;
    display: block;
    width: 1920px;
    height: 132px;
    background: url('../img/price-clouds.png') no-repeat 0 0 / cover;
}
.price__help {
    position: relative;
}
.price__help::before {
    position: absolute;
    content: '';
    display: block;
    width: 385px;
    height: 982px;
    top: 744px;
    left: -130px;
    background: url('../img/lep-l.png') no-repeat 0 0 / cover;
    -webkit-animation-name: lep1;
       -moz-animation-name: lep1;
         -o-animation-name: lep1;
            animation-name: lep1;
    -webkit-animation-duration: 5s;
       -moz-animation-duration: 5s;
         -o-animation-duration: 5s;
            animation-duration: 5s;
    -webkit-animation-iteration-count: infinite;
       -moz-animation-iteration-count: infinite;
         -o-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
}
.price__help::after {
    position: absolute;
    content: '';
    display: block;
    top: 255px;
    right: -200px;
    width: 383px;
    height: 1417px;
    background: url('../img/lep-r.png') no-repeat 0 0 / cover;
    -webkit-animation-name: lep1;
       -moz-animation-name: lep1;
         -o-animation-name: lep1;
            animation-name: lep1;
    -webkit-animation-duration: 5s;
       -moz-animation-duration: 5s;
         -o-animation-duration: 5s;
            animation-duration: 5s;
    -webkit-animation-iteration-count: infinite;
       -moz-animation-iteration-count: infinite;
         -o-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
}


@-webkit-keyframes lep1 {
    0% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
    50% {
        -webkit-transform: translateY(30px);
                transform: translateY(30px);
    }
    to {
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
}


@-moz-keyframes lep1 {
    0% {
        -moz-transform: translateY(0);
             transform: translateY(0);
    }
    50% {
        -moz-transform: translateY(30px);
             transform: translateY(30px);
    }
    to {
        -moz-transform: translateY(0);
             transform: translateY(0);
    }
}


@-o-keyframes lep1 {
    0% {
        -o-transform: translateY(0);
           transform: translateY(0);
    }
    50% {
        -o-transform: translateY(30px);
           transform: translateY(30px);
    }
    to {
        -o-transform: translateY(0);
           transform: translateY(0);
    }
}


@keyframes lep1 {
    0% {
        -webkit-transform: translateY(0);
           -moz-transform: translateY(0);
             -o-transform: translateY(0);
                transform: translateY(0);
    }
    50% {
        -webkit-transform: translateY(30px);
           -moz-transform: translateY(30px);
             -o-transform: translateY(30px);
                transform: translateY(30px);
    }
    to {
        -webkit-transform: translateY(0);
           -moz-transform: translateY(0);
             -o-transform: translateY(0);
                transform: translateY(0);
    }
}

.price__wrap {
    width: 83%;
    margin: 0 auto;
}
.price__card {
    width: 90%;
    margin-left: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
       -moz-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;    
}
.price__card:after {
    content: '';
    display: block;
    position: absolute;
    top: 55px;
    right: 0;
    left: 0;
    margin: 0 auto;
    width: 67px;
    height: 1px;
    background: #e8d9e9;
}

.price__img {
    width: 43%;
    position: relative;
}
.price__img img {
    display: block;
    -webkit-border-radius: 0 20px 20px 20px;
    -moz-border-radius: 0 20px 20px 20px;
         border-radius: 0 20px 20px 20px;
    overflow: hidden;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}
.price__lab {
    position: absolute;
    display: block;
    -webkit-border-radius: 20px;
       -moz-border-radius: 20px;
            border-radius: 20px;
    color: #fff;
    padding: 14px 33px 24px 47px;
    font-weight: 600;
    font-size: 30px;
    bottom: -30px;
    right: 0;
    background: rgba(197,147,199,1);
    background: -moz-linear-gradient(left, rgba(197,147,199,1) 0%, rgba(153,61,156,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(197,147,199,1)), color-stop(100%, rgba(153,61,156,1)));
    background: -webkit-linear-gradient(left, rgba(197,147,199,1) 0%, rgba(153,61,156,1) 100%);
    background: -o-linear-gradient(left, rgba(197,147,199,1) 0%, rgba(153,61,156,1) 100%);
    background: -webkit-gradient(linear, left top, right top, from(rgba(197,147,199,1)), to(rgba(153,61,156,1)));
    background: linear-gradient(to right, rgba(197,147,199,1) 0%, rgba(153,61,156,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c593c7', endColorstr='#993d9c', GradientType=1 );
}
.price__lab span {
    font-size: 22px;
}
.price__lab:after {
    content: '';
    display: block;
    position: absolute;
    width: 47px;
    height: 47px;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
    background: #ec607b url('../img/cross.png') no-repeat center center;
    top: 0;
    bottom: 0;
    left: -23px;
    margin: auto 0;
    -webkit-box-shadow: 2px 6px 8px rgba(255,88,73,0.25);
       -moz-box-shadow: 2px 6px 8px rgba(255,88,73,0.25);
            box-shadow: 2px 6px 8px rgba(255,88,73,0.25);

}
.price__list {
    width: 42%;
    padding: 36px 20px 0 0 ;
}
.price__card:nth-child(2) .price__lab {
    right: unset;
    left: 0;
}
.price__card:not(:last-child) {
    margin-bottom: 90px;
}
.price .title-l {
    margin-bottom: 65px;
}
.price__card:nth-child(3) .price__lab {
    font-weight: 700;
    color: #742a74;
}
.price__card:nth-child(3) .price__lab:after {
    -webkit-box-shadow: 2px 6px 8px rgba(0,170,36,0.25);
       -moz-box-shadow: 2px 6px 8px rgba(0,170,36,0.25);
            box-shadow: 2px 6px 8px rgba(0,170,36,0.25);
    background: #18c23d url('../img/ok.png') no-repeat center center;
}
.price__card:nth-child(2) .price__list {
    width: 40%;
    margin-left: 58px;
}
.price__title {
    font-family: 'Berlingske Serif SemBd';
    color: #000;
    font-size: 30px;
    margin-bottom: 12px;
}
.price__list ul {
    padding-left: 10px;
}
.price__list ul li {
    padding-left: 30px;
    position: relative;
    color: #000;
    font-size: 20px;
    line-height: 1.4em;
}
.price__list ul li::before {
    position: absolute;
    content: '';
    display: block;
    width: 16px;
    height: 16px;
    left: 0;
    top: 5px;
    background: url('../img/Minus.png') no-repeat 0 0 / cover;
}
.price__card:nth-child(3) .price__list ul li::before {
    width: 18px;
    height: 18px;
    background: url('../img/list-ok.png') no-repeat 0 0 / cover;
}
.price__list ul li:not(:last-child) {
    margin-bottom: 15px;
}
.price__list ul:not(:last-child) {
    margin-bottom: 30px;
}
.price__card .btn__top {
    font-size: 16px;
    margin-bottom: 0;
}
.price__card .btn__help {
    font-size: 9px;
    padding: 20px 35px 15px 78px;
}
.price__card .btn::before {
    width: 45px;
    height: 45px;
}
.price__card .btn__help::after {
    width: 273px;
    height: 54px;
}

/* ---rev--- */
.rev {
    background: #fff;
    position: relative;
    padding:6px 0 30px;
}
.rev::before {
    content: '';
    display: block;
    position: absolute;
    top: -130px;
    left: 0;
    width: 100%;
    height: 132px;
    background: url('../img/clouds.png') no-repeat 0 0 / cover;
}
.rev .title-l {
    margin-bottom: 43px;
}
.rev__wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    margin: -28px -20px;
}
.rev__card-wrap {
    width: 50%;
    padding: 28px 20px;
}
.rev__img {
    max-height: 355px;
    -webkit-border-radius: 20px;
       -moz-border-radius: 20px;
            border-radius: 20px;
    overflow: hidden;
    display: block;
    position: relative;
    background: rgba(116,42,116,1);
    background: -moz-linear-gradient(-45deg, rgba(116,42,116,1) 0%, rgba(153,61,156,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(116,42,116,1)), color-stop(100%, rgba(153,61,156,1)));
    background: -webkit-linear-gradient(-45deg, rgba(116,42,116,1) 0%, rgba(153,61,156,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(116,42,116,1) 0%, rgba(153,61,156,1) 100%);
    background: -webkit-linear-gradient(315deg, rgba(116,42,116,1) 0%, rgba(153,61,156,1) 100%);
    background: -moz-linear-gradient(315deg, rgba(116,42,116,1) 0%, rgba(153,61,156,1) 100%);
    background: -o-linear-gradient(315deg, rgba(116,42,116,1) 0%, rgba(153,61,156,1) 100%);
    background: linear-gradient(135deg, rgba(116,42,116,1) 0%, rgba(153,61,156,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#742a74', endColorstr='#993d9c', GradientType=1 );
}
.rev__img:after,
.rev__img::before {
    position: absolute;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
    content: '';
    display: block;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}
.rev__img:after {
    -webkit-transition: all 3s linear;
    -o-transition: all 3s linear;
    -moz-transition: all 3s linear;
    transition: all 3s linear;
    width: 75px;
    height: 75px;
    background: #fff url('../img/playsec.png') no-repeat 55% center;
}
.rev__img:hover:after {
    -webkit-transform: rotateZ(360deg);
       -moz-transform: rotateZ(360deg);
        -ms-transform: rotate(360deg);
         -o-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
}
.rev__img::before {
    width: 95px;
    height: 95px;
    background: rgba(255,255,255,0.2);
}
.rev__img img {
    width: 100%;
    height: 100%;
    display: block;
    opacity: 0.45;
    -o-object-fit: cover;
       object-fit: cover;
}
.rev__top {
    position: relative;
    margin-bottom: 77px;
}
.rev__pep {
    position: absolute;
    left: 17px;
    bottom: -59px;
    min-width: 343px;
    -webkit-border-radius: 20px;
       -moz-border-radius: 20px;
            border-radius: 20px;
    background: #fafafc;
    padding: 7px 37px 10px 11px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.rev__info {
    position: relative;
    padding-left: 115px;
}
.rev__info::before {
    content: '';
    display: block;
    position: absolute;
    left: 19px;
    top: 4px;
    width: 72px;
    height: 61px;
    background: url('../img/quote.png') no-repeat 0 0 / cover;
}
.rev__info p {
    font-size: 18px;
    color: #742a74;
}

/* ---who--- */

.who {
    padding: 318px 0 82px;
    position: relative;
    background: #ffffff;
}
.who::before {
    content: '';
    display: block;
    position: absolute;
    top: -121px;
    right: 0;
    width: 1920px;
    height: 1441px;
    background: url('../img/who-bg.png') no-repeat 0 0 / cover;
}
.who .title-l {
    margin-bottom: 40px;
}
.who__help {
    position: relative;
}
.who__help::before {
    content: '';
    display: block;
    position: absolute;
    top: -480px;
    left: -389px;
    width: 1280px;
    height: 500px;
    z-index: 4;
    background: url('../img/gem-t.png') no-repeat 0 0 / cover;
}
.who__help::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -86px;
    left: -95px;
    width: 1406px;
    height: 290px;
    z-index: 4;
    background: url('../img/gem-b.png') no-repeat 0 0 / cover;
}
.who__wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    z-index: 5;
    margin: -30px -30px;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.who__card-wrap {
    width: 33%;
    padding: 30px 30px;
}
.who__card-wrap:nth-child(3) img {
    margin-right: 40px;
}
.who__card-wrap:nth-child(4) img {
    margin-right: -22px;
    margin-bottom: 22px;
}
.who__card p {
    text-align: center;
    font-size: 17px;
}


/* ---author--- */

.author {
    background: #fff;
    padding: 86px 0 67px;
}
.author__help {
    position: relative;
}
.author__help::after {
    content: '';
    display: block;
    position: absolute;
    width: 440px;
    height: 578px;
    top: 223px;
    right: -163px;
    z-index: 0;
    background: url('../img/author-fl.png') no-repeat 0 0 / cover;
}
.author__title {
    width: 40%;
    text-align: left;
    margin-bottom: 40px;

}
.author__wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.author__left {
    width: 48%;
    position: relative;
}
.author__left::before {
    content: '';
    display: block;
    position: absolute;
    width: 92px;
    height: 243px;
    top: 190px;
    left: -99px;
    background: url('../img/author-text-l.png') no-repeat 0 0 / cover;
}
.author__left::after {
    content: '';
    display: block;
    position: absolute;
    width: 122px;
    height: 362px;
    top: -68px;
    right: -75px;
    z-index: 4;
    background: url('../img/author-text-r.png') no-repeat 0 0 / cover;
}
.author__text {
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    background: #fafafc;
    padding: 25px 46px 48px 34px;
    position: relative;
    overflow: hidden;
}
.author__text::after {
    content: '';
    display: block;
    position: absolute;
    width: 160px;
    height: 138px;
    bottom: -6px;
    right: 14px;
    z-index: 1;
    background: url('../img/quote-auth.png') no-repeat 0 0 / cover;
}
.author__left p {
    position: relative;
    z-index: 3;
}
.author__left p:not(:last-child) {
    margin-bottom: 22px;
}
.author__right {
    width: 52%;
    position: relative;
}
.author__right::after {
    content: '';
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    width: 584px;
    height: 889px;
    bottom: -67px;
    right: 4px;
    z-index: 1;
    background: url('../img/author-w.png');
}

.author__card {
    position: absolute;
    bottom: 13px;
    left: -37px;
    width: 290px;
    height: 286px;
    z-index: 3;
    font-size: 17px;
    padding: 70px 43px 76px 68px;
    color: #fff;
    background: url('../img/author-bg.png') no-repeat 0 0 / cover;
}
.author__card span {
    display: block;
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 29px;
}

/* ---footer--- */

.footer {
    padding-top: 40px;
    background: url('../img/main-bg.jpg') no-repeat 0 0 / cover;
}

.footer .title {
    text-align: center;
    width: 65%;
    margin: 0 auto 27px;
    position: relative;
    font-size: 85px;
    line-height: 85px;
}
.footer .title__top {
    font-size: 60px;
}
.footer .title__bot {
    font-size: 55px;
}
.footer .title::before,
.footer .title:after {
    content: '';
    display: block;
    position: absolute;
}
.footer .title::before {
    width: 373px;
    height: 385px;
    top: 93px;
    left: -322px;
    background: url('../img/foot-l.png') no-repeat 0 0 / cover;
}
.footer .title:after {
    width: 248px;
    height: 393px;
    top: 86px;
    right: -222px;
    background: url('../img/foot-r.png') no-repeat 0 0 / cover;
}
.foot__offer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    width: 64%;
    padding-left: 76px;
    margin: 0 auto 34px;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
       -moz-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
}
.foot__offer .btn {
    margin-right: 31px;
}
.foot__offer .main__price {
    background: #fafafc;
    border: 1px solid #fff;
}
.foot__offer .main__price-new span {
    line-height: 35px;
}
.foot__offer .main__price-old {
    line-height: 31px;
}

.foot__offer .main__price-old:after {
    top: 14px;
}

.footer .header__wrap {
    margin-bottom: 32px;
}

.footer__bot {
    padding: 20px 0 17px;
    font-size: 13px;
    font-weight: 500;
    color: #511e51;
}
.footer__bot a {
    font-size: 13px;
    font-weight: 500;
    color: #511e51;
}
.footer__bot p {
    text-align: center;
    width: 90%;
    margin: 0 auto 15px;
}
.footer__bot-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    width: 75%;
    margin: 0 auto;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.footer__f {
    background: rgba(116,42,116,0.2);
}